# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Docker
postgres_data/

# VS Code
.vscode/

# pytest
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Firebase
firebase-credentials.json